<div class="page-header">
    <h1>Twój koszyk</h1>
</div>
<div class="row">
    <div class="col-md-12" ng-if="cartInfo.quantity==0">
        <alert type="warning"> Twój koszyk jest pusty </alert>
    </div>
    <div class="col-md-6" ng-repeat="item in cartInfo.articles">
        <h2>{{item.article.name}}</h2>
        <h3>{{item.article.category.name}}</h3>
        <p>Cena: {{item.article.price | currency}}</p>
        <p>Ilość: {{item.quantity}}</p>
        <p>Wartość: {{item.value | currency}}</p>
        <p>
            <button class="btn btn-sm btn-danger" ng-click="removeFromCart(item.article)">Usuń z koszyka</button>
        </p>
    </div>
</div>
<div ng-if="cartInfo.quantity!=0">
    <div class="row">
        <div class="col-md-12">
            <h2>Zamówienie</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form novalidate>
                <div class="form-group">
                    <label class="control-label">Adres e-mail</label> <input class="form-control"
                        ng-model="order.clientEmail">
                </div>
                <div class="form-group">
                    <label class="control-label">Adres dostawy</label> <input class="form-control"
                        ng-model="order.address">
                </div>
            </form>
            <button class="btn btn-success btn-lg" ng-click="acceptOrder(order)">Zamawiam</button>
        </div>
    </div>
</div>
